@import url('https://fonts.googleapis.com/css?family=Amatic+SC:100,200,300,400,500,600,700|Oswald:100,200,300,400,500,600,700');

/*-------------------------------------------------Logo */

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.header {
    position: absolute;
    height: 20vh;
    margin: 0;
}

.logo {
    position: relative;
    left: 1vw;
}

.logo h1 {
    color: black;
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-size: 50px;
    margin: 0;
    padding: 1vw;
}

.logo h1:hover {
    background-color: orange;
    color: white;
    border-radius: 10%;
    padding: 1vw;
}

/*-------------------------------------------------Expanded Navbar */

.navbar {
    position: relative;
    background-color: white;
    border-bottom: black solid 2px;
    z-index: 1;
}

.navbar-nav {
    position: absolute;
    right: 50px;
    padding: 1vw;
    text-align: right;
}

.nav-item h2 {
    font-family: "Amatic SC", sans-serif;
    font-weight: 500;
    font-size: 40px;
    margin: 0;
    padding: 1vw;
    color: black;
}

.nav-item h2:hover {
    background-color: orange;
    color: white;
    border-radius: 10%;
    padding: 1vw;
}

/*-------------------------------------------------Menu Button */

.navbar-toggler {
    position: absolute;
    right: 5vw;
    font-family: "Amatic SC", sans-serif;
    font-size: 30px;
    text-align: center;
    color: white;
    background-color: black;
}

.navbar-toggler:hover {
    background-color: orange;
}

.navbar-toggler:active {
    box-shadow: none;
    outline: none;
    border: none;
    outline: none;
    -webkit-tap-highlight-color: transparent
}

/*--https://stackoverflow.com/questions/13119906/turning-off-twitter-bootstrap-navbar-transition-animation--*/

.navbar-collapse {
    -webkit-transition: height 0.01s;
    -moz-transition: height 0.01s;
    -ms-transition: height 0.01s;
    -o-transition: height 0.01s;
    transition: height 0.01s;
}

.navbar-nav-color {
    background-color: white;
}

/*-------------------------------------------------Words */

.words {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    padding: 30px;
    text-align: center;
}

.word-box {
    background-image: url("/assets/illustrations/foxandmellon.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 20%;
    height: 70vh;
    width: 100%;
}

.home-words h3 {
    text-align: justify;
    opacity: 100%;
}

.words a {
    color: orange;
}

/*-------------------------------------------------Carousel */

.carousel-inner {
    height: 70vh;
    width: auto;
}

.carousel-item {
    height: 100%;
}

.carousel-item img {
    height: 100%;
    width: auto;
    margin: auto;
}

.carousel-caption {
    color: black;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    padding: 0;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.3);
    bottom: 0;
}

/*-------------------------------------------------Footer */

.footer {
    position: absolute;
    height: 8vh;
    bottom: 0;
}

.list-inline {
    position: relative;
}

/*-------------------------------------------------Social Media */

.list-inline-item i {
    color: black;
    font-size: 30px;]
    margin: 0;
    padding: 20px;
}

.list-inline-item i:hover {
    color: orange;
}

/*-------------------------------------------------Media Enquiries */

@media