@import url('https://fonts.googleapis.com/css?family=Amatic+SC:100,200,300,400,500,600,700|Oswald:100,200,300,400,500,600,700');

/*-------------------------------------------------Logo */

.logo {
    position: relative;
    left: 1vw;
}

.logo h1 {
    color: black;
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-size: 50px;
    margin: 0;
    padding: 1vw;
}

.logo h1:hover {
    background-color: orange;
    color: white;
    border-radius: 20%;
    padding: 1vw;
}

/*-------------------------------------------------Expanded Navbar */

.navbar {
    position: relative;
    background-color: white;
    border-bottom: black solid 2px;
}

.navbar-nav {
    position: absolute;
    right: 50px;
    padding: 1vw;
}

.nav-item h2 {
    font-family: "Amatic SC", sans-serif;
    font-weight: 500;
    font-size: 40px;
    margin: 0;
    padding: 1vw;
    color: black;
}

.nav-item h2:hover {
    background-color: orange;
    color: white;
    border-radius: 20%;
    padding: 1vw;
}

/*-------------------------------------------------Menu Button */

.navbar-toggler {
    position: absolute;
    right: 5vw;
    font-family: "Amatic SC", sans-serif;
    font-size: 30px;
    text-align: center;
    color: white;
    background-color: black;
}

.navbar-toggler:hover {
    background-color: orange;
}

/*-------------------------------------------------Footer */

.footer {
    position: relative;
}

.list-inline {
    position: absolute;
    right: 5vw;
}

/*-------------------------------------------------Social Media */

.list-inline-item i {
    color: black;
    font-size: 30px;]
    margin: 0;
    padding: 20px;
}

.list-inline-item i:hover {
    color: orange;
}

/*-------------------------------------------------Words */

.words {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    padding: 20px;
    font-size: 25px;
    text-align: center;
}

.home-words {
    text-align: justify;
}

.words a {
    color: orange;
}

/*-------------------------------------------------Media Enquiries */

@media