@import url('https://fonts.googleapis.com/css?family=Amatic+SC:100,200,300,400,500,600,700|Oswald:100,200,300,400,500,600,700');

/*-------------------------------------------------Logo */

body {
    background: #D2FFFA;
}

header {
    background: #c2fff9;
    border-bottom: black solid 3px;
}

.logo {
    position: relative;
    left: 1vw;
}

.logo h1 {
    color: black;
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-size: 50px;
    margin: 0;
    padding: 1vw;
}

.logo h1:hover {
    background-color: #319586;
    color: white;
    border-radius: 10%;
    padding: 1vw;
}

/*-------------------------------------------------Expanded Navbar */

.navbar {
    position: relative;
    z-index: 1;
}

.navbar-nav {
    position: absolute;
    right: 50px;
    padding: 1vw;
    text-align: right;
    background-color: #c2fff9;
    z-index: 2;
}

.nav-item h2 {
    font-family: "Amatic SC", sans-serif;
    font-weight: 500;
    font-size: 40px;
    margin: 0;
    padding: 1vw;
    color: black;
}

.nav-item h2:hover {
    background-color: #319586;
    color: white;
    border-radius: 10%;
    padding: 1vw;
}

/*-------------------------------------------------Menu Button */

.navbar-toggler {
    position: absolute;
    right: 5vw;
    font-family: "Amatic SC", sans-serif;
    font-size: 30px;
    text-align: center;
    color: white;
    background-color: black;
}

.navbar-toggler:hover {
    background-color: #319586;
}

/*--https://stackoverflow.com/questions/13119906/turning-off-twitter-bootstrap-navbar-transition-animation--*/

.navbar-collapse {
    -webkit-transition: height 0.01s;
    -moz-transition: height 0.01s;
    -ms-transition: height 0.01s;
    -o-transition: height 0.01s;
    transition: height 0.01s;
}

/*-------------------------------------------------About Page */

.about-box {
    height: 70vh;
}

.words {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    padding: 30px;
    text-align: center;
}

.words a {
    color: #319586;
}

/*-------------------------------------------------Carousel */

.main-box {
    
    
}

.carousel-inner {
    height: 70vh;
    width: auto;
}

.carousel-item {
    height: 100%;
}

.carousel-item img {
    height: 100%;
    width: auto;
    margin: auto;
}

.carousel-caption {
    color: black;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    padding: 0;
    margin: 0;
    background-color: rgba(210, 255, 250, 0.5));
    bottom: 0;
}

.carousel-caption p {
    font-size: 13px;
}

/*--https://stackoverflow.com/questions/49389768/change-arrow-colors-in-ng-bootstrap-carousel--*/

.carousel-control-next, 
.carousel-control-prev,
.carousel-control-next:hover, 
.carousel-control-prev:hover, 
.carousel-control-next:active, 
.carousel-control-prev:active {
    filter: invert(1);
}

/*-------------------------------------------------Footer */

footer {
    bottom: 0;
    display: block;
    background: #c2fff9;
    border-top: black solid 3px;
}

.list-inline {
    display: inline-block;
}

/*-------------------------------------------------Social Media */

.list-inline-item i {
    color: black;
    font-size: 30px;]
    margin: 0;
    padding: 20px;
}

.list-inline-item i:hover {
    color: #319586;
}

/*-------------------------------------------------Contact Form */

.form {
    display: block;
    height: 70vh;
    text-align: center;
}

.form-control {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    width: 70%;
    margin: 5px;
    text-align: center;
    display: inline-block;
}

.form-button {
    font-family: "Amatic SC", sans-serif;
    font-size: 30px;
    text-align: center;
    color: white;
    background-color: black;
    border-radius: 10%;
}

.form-button:hover {
    background-color: #319586;
}


/*-------------------------------------------------Media Enquiries */

@media